@import "tailwindcss";

@font-face {
  font-family: 'Bernier';
  src: url('../src/assets/fonts/BERNIERDistressed-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'GroteskRounded';
  src: url('../src/assets/fonts/Typo-Grotesk-Rounded-Light-Demo.otf') format('opentype');
}

@font-face {
  font-family: 'ZingSansRustLight';
  src: url('../src/assets/fonts/ZingSansRustLDemo-Base.otf') format('opentype');
}

@theme {
  --font-capMarker: "Bernier", "sans-serif";
  --font-lowerAndCaps: "GroteskRounded", "sans-serif";
  --font-smallCaps: "ZingSansRustLight", "sans-serif";

  --color-greyScaleLight: #969696;
  --color-greyScaleDarkLight: #5E5E5E;
  --color-greyScaleMid: #313131;
  --color-greyScaleDark: #1A1A1A;
  --color-sand: #FFCE80;
  --color-offWhite: #F0EBE2;
}

@layer utilities {
  .bg-background-1 {
    background-image: url("./assets/wood.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fade-out {
    background-image: linear-gradient(transparent 0%, theme(--color-black) 80%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 20%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 20%);
  }

}
