@import "tailwindcss";

@layer utilities {
  .bg-background-1 {
    background-image: url("./assets/wood.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fade-out {
    background-image: linear-gradient(transparent 0%, theme(--color-black) 80%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 20%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 20%);
  }

  .fade-out-2 {
    background: linear-gradient(180deg, #000000 9.13%, rgba(0, 0, 0, 0) 100%);
  }
}
